<div class="periodic-container">
  <div class="periodic-grid">
    <div class="periodic-col-num">&nbsp;</div>
    <div class="periodic-col-num" *ngFor="let o of colHeader"
      (mouseenter)="colHeader[o.index-1].selected=true; blurColAtoms({ colNum: o.index, blurry: true });"
      (mouseleave)="colHeader[o.index-1].selected=false; blurColAtoms({ colNum: o.index, blurry: false });"
      [class.selected]="o.selected">
      <span class="index">{{o.index}}</span>
      <span class="description">{{o.description}}</span>
    </div>

    <div *ngFor="let o of rowHeader" class="periodic-row-num {{o.className}}"
      (mouseenter)="rowHeader[o.index-1].selected=true; blurRowAtoms({ rowNum: o.index, blurry: true });"
      (mouseleave)="rowHeader[o.index-1].selected=false; blurRowAtoms({ rowNum: o.index, blurry: false });"
      [class.selected]="o.selected">
      <span class="index">{{o.index}}</span>
    </div>

    <div class="phase-row-1 col-1">
      <div class="solid"
        (mouseenter)="matterClass.solid=true; selectSolid();" (mouseleave)="matterClass.solid=false;"
        [class.selected]="matterClass.solid == true;">
        C
      </div>
      <div class="liquid"
        (mouseenter)="matterClass.liquid=true; selectLiquid();" (mouseleave)="matterClass.liquid=false;"
        [class.selected]="matterClass.liquid == true;">
        Hg
      </div>
    </div>
    <div class="phase-row-1 col-2">
      <div class="solid">Solid</div>
      <div class="liquid">Liquid</div>
    </div>
    <div class="phase-row-2 col-1">
      <div class="gas"
        (mouseenter)="matterClass.gas=true; selectGas();" (mouseleave)="matterClass.gas=false;"
        [class.selected]="matterClass.gas == true;">H</div>
      <div class="unknown"
        (mouseenter)="matterClass.unknown=true; selectUnknown()" (mouseleave)="matterClass.unknown=false;"
        [class.selected]="matterClass.unknown == true">
        Rf
      </div>
    </div>
    <div class="phase-row-2 col-2">
      <div class="gas">Gas</div>
      <div class="unknown">Unknown</div>
    </div>

    <app-atom *ngFor="let atom of atoms" class="periodic-atom-{{atom.number}}" [data]="atom"></app-atom>
    <app-atom class="description" [data]="description"></app-atom>
    <app-atom class="periodic-atom-57-71" [data]="lantAtomGroup"></app-atom>
    <app-atom class="periodic-atom-89-103" [data]="actinideAtomGroup"></app-atom>
  </div>
</div>
