<div class="periodic-container">
    <div class="periodic-grid">
        <app-col-selectors
            class="app-col-selectors"
            (selectedCol)="colHeaderSub$.next($event)"
            [selectedAtomCol]="selectedAtomCol"
        ></app-col-selectors>
        <app-row-selectors
            class="app-row-selectors"
            (selectedRow)="rowHeaderSub$.next($event)"
            [selectedAtomRow]="selectedAtomRow"
        ></app-row-selectors>

        <app-atom-details
            class="atom-details"
            [class.show]="currentAtom !== null"
            [data]="currentAtom"
        ></app-atom-details>

        <app-phases class="app-phases" (hoverPhase)="selectedPhaseSub$.next($event)"></app-phases>

        <ng-container *ngIf="(atoms$ | async) as atoms">
            <app-atom
                *ngFor="let atom of atoms"
                class="periodic-atom-{{ atom.number }}"
                [data]="atom"
                (hoverAtom)="showAtomDetails($event)"
                (click)="open(atom.name)"
            ></app-atom>
        </ng-container>
        <app-atom class="description" [data]="description"></app-atom>
        <app-atom class="periodic-atom-57-71" [data]="lantAtomGroup"></app-atom>
        <app-atom class="periodic-atom-89-103" [data]="actinideAtomGroup"></app-atom>
    </div>

    <app-wiki *ngIf="wikiAtomName" [atomName]="wikiAtomName" (closeModal)="wikiAtomName = ''"></app-wiki>
</div>
