:host {
  border: 2px solid #ccc;
}

@import "../../variables";

$selected-color: #FFF;

.atom-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  p {
    margin: 0;
    padding: 0;

    &.atomic {
      font-size: 0.7em;
    }

    &.symbol {
      font-size: 1em;
      font-weight: bold;
    }

    &.name, &.weight {
      font-size: 0.7em;
    }
  }

  &.blurry {
    opacity: 0.5;
  }

  .gas {
    color: $gas-color;
  }

  .liquid {
    color: $liquid-color;
  }

  .solid {
    color: $solid-color;
  }

  .unknown {
    color: $unknown-color;
  }

  &.solid-selected, &.liquid-selected, &.gas-selected, &.unknown-selected {
    color: #FFF;
  }

  &.solid-selected {
    color: $selected-color;
    background: $solid-background-color;
  }

  &.liquid-selected {
    color: $selected-color;
    background: $liquid-background-color;
  }

  &.gas-selected {
    color: $selected-color;
    background: $gas-background-color;
  }

  &.unknown-selected {
    color: $selected-color;
    background: $unknown-background-color;
  }
}
