<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <app-selection-bar
        (highlightElement)="highlightElement($event)"
        (selectAllMetals)="selectMetalCat($event)"
        (selectAllNonmetals)="selectNonmetalCat($event)"
        [currentAtomCategory]="category"
    ></app-selection-bar>
    <app-periodic-table
        [selectedMetal]="highlightState"
        [selectAllMetals]="selectAllMetals"
        [selectAllNonmetals]="selectAllNonmetals"
        (currentAtomCategory)="setCurrentAtomCategory($event)"
    ></app-periodic-table>
    <app-footer></app-footer>
</div>
