/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #FFF;
}

.alkali-metal {
  background: #FFCC33;
}

.alkaline-earth-metal {
  background: #FFFF44;
}

.lanthanide {
  background: #FFBB99;
}

.actinide {
  background: #EEBBDD;
}

.transition-metal {
  background: #DDBBBB;
}

.post-transition-metal {
  background: #99DDCC;
}

.metalloid {
  background: #77DD88;
}

.nonmetal {
  background: #22FF22;
}

.noble-gas {
  background: #77CCFF;
}

.unknown-metal {
  background: #DDDDDD;
}

.gas {
  color: #990000;
}

.liquid {
  color: #0000dd;
}

.solid {
  color: #000;
}

.unknown {
  color: #667766;
}
