<div class="selection-bar">
  <div class="metal-container">
    <p class="title">Metals</p>
    <div class="buttons">
      <button class="alkali-metal"
        (mouseover)="changeHighlightState('alkali', true)"
        (mouseleave)="changeHighlightState('alkali', false)">
        <span>Alkali metals</span>
      </button>
      <button class="alkaline-earth-metal" (mouseover)="changeHighlightState('alkaline', true)"
        (mouseleave)="changeHighlightState('alkaline', false)">
        <span>Alkaline earth metals</span>
      </button>
      <button class="lanthanide" (mouseover)="changeHighlightState('lant', true)"
        (mouseleave)="changeHighlightState('lant', false)">
        <span>Lanthanoids</span>
      </button>
      <button class="actinoids" (mouseover)="changeHighlightState('actinoids', true)"
        (mouseleave)="changeHighlightState('actinoids', false)">
        <span>Actinoids</span>
      </button>
      <button class="transition-metal" (mouseover)="changeHighlightState('transition', true)"
        (mouseleave)="changeHighlightState('transition', false)">
        <span>Transition metals</span>
      </button>
      <button class="post-transition-metal" (mouseover)="changeHighlightState('postTransition', true)"
        (mouseleave)="changeHighlightState('postTransition', false)">
        <span>Post-transition metals</span>
      </button>
    </div>
  </div>
  <div class="other">
    <p class="title">&nbsp;</p>
    <div class="buttons">
      <button class="metalloid" (mouseover)="changeHighlightState('metalloids', true)"
        (mouseleave)="changeHighlightState('metalloids', false)">
        <span>Metalloids</span>
      </button>
    </div>
  </div>
  <div class="nonmetal-container">
    <p class="title">Nonmetals</p>
    <div class="buttons">
      <button class="nonmetal" (mouseover)="changeHighlightState('nonMetals', true)"
        (mouseleave)="changeHighlightState('nonMetals', false)">
        <span>Other nonmetals</span>
      </button>
      <button class="noble-gas" (mouseover)="changeHighlightState('nobleGas', true)"
        (mouseleave)="changeHighlightState('nobleGas', false)">
        <span>Noble gases</span>
      </button>
    </div>
  </div>
</div>
