<div class="selection-bar">
    <div class="metal-container">
        <div><span id="all-metals" class="title-underline">Metals </span></div>
        <div class="buttons">
            <button id="alkali" class="alkali-metal" [class.selected]="hoverCategory === 'alkali'">
                <span>Alkali metals</span>
            </button>
            <button
                id="alkaline"
                class="alkaline-earth-metal"
                [class.selected]="hoverCategory === 'alkaline'"
            >
                <span>Alkaline earth metals</span>
            </button>
            <button id="lant" class="lanthanide" [class.selected]="hoverCategory === 'lant'">
                <span>Lanthanoids</span>
            </button>
            <button id="actinoid" class="actinide" [class.selected]="hoverCategory === 'actinoid'">
                <span>Actinoids</span>
            </button>
            <button id="transition" class="transition-metal" [class.selected]="hoverCategory === 'transition'">
                <span>Transition metals</span>
            </button>
            <button
                id="postTransition"
                class="post-transition-metal"
                [class.selected]="hoverCategory === 'postTransition'"
            >
                <span>Post-transition metals</span>
            </button>
        </div>
    </div>
    <div class="other">
        <p class="title">&nbsp;</p>
        <div class="buttons">
            <button id="metalloid" class="metalloid" [class.selected]="hoverCategory === 'metalloid'">
                <span>Metalloids</span>
            </button>
        </div>
    </div>
    <div class="nonmetal-container">
        <div><span id="all-nonmetals" class="title-underline"> Nonmetals </span></div>
        <div class="buttons">
            <button id="nonMetal" class="nonmetal" [class.selected]="hoverCategory === 'nonMetal'">
                <span>Other nonmetals</span>
            </button>
            <button id="nobleGas" class="noble-gas" [class.selected]="hoverCategory === 'nobleGas'">
                <span>Noble gases</span>
            </button>
        </div>
    </div>
</div>
