@import "../../variables";

:host {
  flex: 0 0 100%;

  display: flex;
  justify-content: center;
}

$margin-size: 6px;

.selection-bar {
  display: flex;
  flex-direction: row;

  p {
    &.title {
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  button {
    margin: $margin-size $margin-size $margin-size 0;
    padding: $margin-size;
    cursor: pointer;

    &.selected {
      border: 3px solid $thick-border-color;
    }
  }

  .other, .metal-container, .nonmetal-container {
    border: 1px solid $border-color;
    margin-left: 0px;
    margin-right: $margin-size;

    .buttons {

      button:nth-of-type(1) {
        margin-left: $margin-size;
      }
      button span {
        font-size: 1em;
        writing-mode: vertical-rl;
      }
    }
  }
}
