<div class="selection-bar">
  <div class="metal-container">
    <p class="title">Metals</p>
    <div class="buttons">
      <button class="alkali-metal"
        (mouseover)="changeHighlightState('alkali', true)"
        (mouseleave)="changeHighlightState('alkali', false)"
        [class.selected]="highlightState.alkali === true">
        <span>Alkali metals</span>
      </button>
      <button class="alkaline-earth-metal" (mouseover)="changeHighlightState('alkaline', true)"
        (mouseleave)="changeHighlightState('alkaline', false)"
        [class.selected]="highlightState.alkaline==true">
        <span>Alkaline earth metals</span>
      </button>
      <button class="lanthanide" (mouseover)="changeHighlightState('lant', true)"
        (mouseleave)="changeHighlightState('lant', false)"
        [class.selected]="highlightState.lant==true">
        <span>Lanthanoids</span>
      </button>
      <button class="actinide" (mouseover)="changeHighlightState('actinoid', true)"
        (mouseleave)="changeHighlightState('actinoid', false)"
        [class.selected]="highlightState.actinoid==true">
        <span>Actinoids</span>
      </button>
      <button class="transition-metal" (mouseover)="changeHighlightState('transition', true)"
        (mouseleave)="changeHighlightState('transition', false)"
        [class.selected]="highlightState.transition==true">
        <span>Transition metals</span>
      </button>
      <button class="post-transition-metal" (mouseover)="changeHighlightState('postTransition', true)"
        (mouseleave)="changeHighlightState('postTransition', false)"
        [class.selected]="highlightState.postTransition==true">
        <span>Post-transition metals</span>
      </button>
    </div>
  </div>
  <div class="other">
    <p class="title">&nbsp;</p>
    <div class="buttons">
      <button class="metalloid" (mouseover)="changeHighlightState('metalloid', true)"
        (mouseleave)="changeHighlightState('metalloid', false)"
        [class.selected]="highlightState.metalloid==true">
        <span>Metalloids</span>
      </button>
    </div>
  </div>
  <div class="nonmetal-container">
    <p class="title">Nonmetals</p>
    <div class="buttons">
      <button class="nonmetal" (mouseover)="changeHighlightState('nonMetal', true)"
        (mouseleave)="changeHighlightState('nonMetal', false)"
        [class.selected]="highlightState.nonMetal==true">
        <span>Other nonmetals</span>
      </button>
      <button class="noble-gas" (mouseover)="changeHighlightState('nobleGas', true)"
        (mouseleave)="changeHighlightState('nobleGas', false)"
        [class.selected]="highlightState.nobleGas==true">
        <span>Noble gases</span>
      </button>
    </div>
  </div>
</div>
